@model Gestion_des_Collaborateurs.Models.AvoirCertification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvoirCertification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePassage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePassage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuréeObtention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuréeObtention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCertificationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCertificationNavigation.IdCertification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCollaborateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCollaborateurNavigation.IdCollaborateur)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
