
@{
    ViewData["Title"] = "Home Page";
}

@model List<TempsRestant>
<!Doctype html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]- Gestion des Collaborateurs</title>
    <link href="~/template/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
   <div class="grid-container">

        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">Actualités</p>
            </div>

            <div class="main-cards mb-3">

                <div class="card">
                    <div class="card-inner">
                        <p>COLLABORATEURS</p>
                        <span class="material-icons-outlined text-blue">badge</span>
                    </div>
                    <span class="textpr font-weight-bold">@ViewBag.nombreColl</span>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <p class="textpr">Formation</p>
                        <span class="material-icons-outlined text-orange">event_note</span>
                    </div>
                    <span class="textpr"></span>
                    <span class="textpr font-weight-bold">@ViewBag.nombreFormation</span>
                    <span style="font-weight:300;">(@ViewBag.completer completer) </span>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <p class="textpr">Certification</p>
                        <span class="material-icons-outlined text-green">verified_user</span>           
                    </div>
                    <span class="textpr font-weight-bold">@ViewBag.nombreCertif</span>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <p class="textpr">PERIODE D'ESSEAI</p>
                        <span class="material-icons-outlined text-red">notification_important</span>
                    </div>
                    <span class="textpr font-weight-bold">@ViewBag.nombrePeriodeEssai</span>
                </div>

            </div>
            

            <div class=" row">
                @*periode-essai*@

                <div class="col-lg-9 col-sm-12">
                    <h4>periode d'essai dont 2 Semaines</h4>
                    <table class="table table-striped" >
                        <thead>
                            <tr>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Prénom
                                </th>
                                <th>
                                    Date de Debut d'Essai
                                </th>
                                <th>
                                    Date de Fin d'Essai
                                </th>
                                <th>Temps Restant</th>
                              
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prenom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateDebutEssai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateFinEssai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem =>item.tempsRe) Jours
                                    </td>
                               
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                @*container-info*@
                <div class="col-lg-3 col-sm-12 row">
               <div class="col-12 mb-3">
                        <div class="salaire">
                            <div class="card-inner">
                                <p class="textpr">Moyenne des salaires</p>
                                <span class="material-icons-outlined savings">attach_money</span>
                            </div>
                            <span class="textpr font-weight-bold">$@ViewBag.MoyennSalaire </span>
                        </div>
               </div>
                   <div class="col-12">
                        <div class="age">
                            <div class="card-inner">
                                <p class="textpr">Moyenne d'age</p>
                                <span class="material-icons-outlined people">people</span>
                            </div>
                            <span class="textpr font-weight-bold">@ViewBag.MoyenAge</span>
                        </div>
                   </div>
                </div>


            </div>

        </main>
   </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>