@model IEnumerable<Gestion_des_Collaborateurs.Models.PasserFormation>

@{
    ViewData["Title"] = "Index";
}




<style>
    .row .container {
        max-width: 100% !important;
        display: inline !important;
        margin-left: -14px !important;
        margin-top: 14px !important;
    }

    #myInput {
        background-image: url('/images/logos/search.png'); /* Add a search icon to input */
        background-position: 10px 15px; /* Position the search icon */
        background-size: 20px 20px;
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 30%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin: 12px; /* Add some space below the input */

        align-content: end;
    }


    #myTable {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
        margin: 12px;
    }

        #myTable tr.header, #myTable tr:hover {
            /* Add a grey background color to the table header and on hover */
            background-color: #f1f1f1;
        }

</style>

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomFormation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDebutFormation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinFormation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomFormation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebutFormation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFinFormation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFormation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFormation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFormation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
<body>
    <h1 class="text-left">Formations</h1>
    <hr class="sidebar-divider my-1" />


    <br />

    <br />

    <div class="card">

        <div class="container-flex   justify-content-start">
            <nav class="nav nav-tabs ">
                <button type="button" class="nav-link" onclick="redirectToAnotherPage()">Formations</button>
                <button type="button" class="nav-link  active" data-bs-toggle="tab" data-bs-target="#tab-Affectation">Affectations</button>
            </nav>
        </div>
        <div class="tab-content">
            <div class="tab-pane active show fade" id="tab-Affectation">
                <br />
                <h2 style="margin:12px">Liste des Formations</h2>
                <br />

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="rechercher une Formation..">
            </div>
            <table id="myTable" class="table table-bordered" style="width:90%">
                <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Nom de Formateur</th>
                        <th>Nom Collaborateur</th>
                        <th>Prénom Collaborateur</th>
                        <th>Date Debut</th>
                        <th>Date fin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFormationNavigation.NomFormation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomFormateur)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCollaborateurNavigation.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCollaborateurNavigation.Prenom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFormationNavigation.DateDebutFormation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFormationNavigation.DateFinFormation)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function redirectToAnotherPage() {
            var url = '@Url.Action("index", "Formations")';
            window.location.href = url;
        }
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

@*<link href="~/template/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



<body>
     <div class="d-sm-flex align-items justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Collaborateurs</h1>
    </div>
    <div class="card">
        <br />
        <div class="d-grid gap-2 d-inline-flex p-2 justify-content-md-end">
            <div class="col-7 text-end">
                <a asp-controller="Collaborateurs" asp-action="Create" class="btn btn-primary custom-margin">
                    <i class="bi bi-plus-circle"></i>&nbsp;Ajouter une affectation
                </a>
            </div>
        </div>
        <div class="card-body">

                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model=>model.IdCollaborateur)

                            </th>
                            <th>@Html.DisplayNameFor(model=>model.IdFormation)</th>
                            <th>
                                @Html.DisplayNameFor(model=>model.IdFormationNavigation.NomFormation)
                            </th>
                            <th>@Html.DisplayNameFor(model=>model.IdFormateur)</th>
                            <th>@Html.DisplayNameFor(model=>model.NomFormateur)</th>
                            <th>Nom de collaborateur</th>

                            <th>@Html.DisplayNameFor(model=>model.IdFormationNavigation.DateDebutFormation)</th>
                            <th>@Html.DisplayNameFor(model=>model.IdFormationNavigation.DateFinFormation)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdCollaborateurNavigation.IdCollaborateur)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFormationNavigation.IdFormation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFormationNavigation.NomFormation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFormateur)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomFormateur)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => (item.IdCollaborateurNavigation.Nom)) @Html.DisplayFor(modelItem=>item.IdCollaborateurNavigation.Prenom)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFormationNavigation.DateDebutFormation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFormationNavigation.DateFinFormation)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new {id=item.IdFormateur })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

        </div>
        
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JavaScript -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
*@