@model Gestion_des_Collaborateurs.Models.Formation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomFormation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomFormation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutFormation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutFormation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinFormation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinFormation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFormation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
