@model IEnumerable<Gestion_des_Collaborateurs.Models.Formation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomFormation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDebutFormation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinFormation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomFormation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebutFormation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFinFormation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFormation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFormation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFormation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
